.html {
	background-image: url("../images/fon.png");
}


.logo {
	background-image: url("../images/icon.png");
	background-position: top right;
	background-attachment: fixed;
	background-repeat: no-repeat;
	opacity: 0.7;	
	margin-top: -20px;
	margin-right: -10px;
}


.p1 {
	font-size: 20px;
	font-style: italic;
	color: #ccc;
}

.h1 {
	font-size: 2em;
	font-family: sans-serif;
	color: #333;
	text-align: center;
}

.div {
	font-size: 16px;
	color: #888;
	font-family: sans-serif;
	font-weight: bold;
}

.ul {
	text-align: center;
	font-family: sans-serif;
	list-style-type: none;
}

.li:hover {
	background-color: #eee;
	list-style-image: url(../images/arrow.png);
}

.a {
	font-size: 30px;
	text-decoration: none;
	font-variant: small-caps;
	color: #2020e4;
}

a:active {
	text-decoration: overline;
}

a:hover {
	color: #333;
}

a:visited {
	color: #a9a;
}

.ch {
	text-indent: 40px;
	font-size: 18px;
	color: #222;
	font-weight: bold;
	text-align: justify;
}

.ch:first-line {
	font-size: 1.5em;
	color: #a83;
}

.ch:first-child {
	color: #ea3;
	font-size: 2em;
}

.h2 {
	font-style: italic;
	font-size: 35px;
	text-align: justify;
}

.tb {
	font-family: Verdana;
	font-size: 18px;
}

.th {
	background-color: #666;
	color: white;
}

.tr:hover {
	background-color: #ccc;
}

.td {
	background-color: #a83;
	color: white;
}

.b {
	text-decoration: none;
	color:green;
}

.b:visited {
	text-decoration: none;
	color: blue;
}

.b:active {
	text-decoration: underline;
}